body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding: 0.05%;
}

header {
  background-color: #04a795;
  display: block;
  height: 10%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="submit" i] {
  color: white;
  background-color: #630d6f;
  border-radius: 25px;
  border-style: hidden;
  padding: 5px;
  margin: 0.55%;
}

footer {
  background-color: #fb5947;
  display: block;
  height: 5%;
}

h1 {
  padding: 0.05%;
  margin: 0.05%;
  
}
